DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bullbear_dev?schema=public
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/bullbear_dev?schema=public
SHADOW_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bullbear_shadow?schema=public
